h1 {
  font-family: "Montserrat Alternates";
  text-align: left;
}
h2 {
  font-family: "Montserrat Alternates";
  text-align: left;
}

p {
  font-family: "Montserrat Alternates";
  font-size: 120%;
  color: black;
}
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }

  .jumbotron {
    background-image: url("https://images.unsplash.com/photo-1503756043224-101dab0dcb30?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=4bd62d181f78bd2f85ab23a677acd6f4&auto=format&fit=crop&w=1600&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    font-family: "Montserrat Alternates";
  }
}

.header3 {
  text-align: middle;
}
