 
header {
    background-color: black;
    text-align: center;
  }
  h1 {
    color: white;
    font-size: 100px;
  }
  
  body {
    background-image: url("https://pre00.deviantart.net/3616/th/pre/i/2005/028/b/6/clear_day_by_juanchis.jpg");
    background-size: cover;
    font-size: 60px;
    color: black;
  }
  .btn {
    background-color: white;
    font-size: 50px;
    color: blue;
    
  }
  footer {
    font-size: 30px;
  }